
<% if params[:controller] == 'about'%>
<div class="well">
	<h3>Location Info</h3>
	<ul>
		<li>The Village Bookstore</li>
		<li>6263 McNeil Dr, Apt 2225</li>
		<li>Austin, TX 78729</li>
		<li>Phone: 1234567894</li>
		<li>Email: support@thevillagebookstore.com
		</li>
	</ul>
</div>
<%end%>
<% if params[:controller] =='books' && params[:action] =='index' || params[:action] =='show'%>
 <div class="list-group">
      <% @categories.each do |category| %>
        <%= link_to category.name, category_path(category.id), class:'list-group-item' %>
      <% end %>
    </div>
<% end %>